* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  background-image: url("https://cdn.pixabay.com/photo/2016/12/30/19/33/children-1941336_960_720.png");
  background-size: cover;
  background-color: #000000eb;
  overflow-x: hidden;
  min-height: 100vh;
}
.sub-container {
  width: 100%;
  max-width: 500px;
  padding: 0 10px;
  margin: auto;
  color: #fff;
}
.sub-container h1 {
  font-family: "Freckle Face", cursive;
  margin: 2.6rem 0;
  font-size: 65px;
  padding: 20px;
  text-align: center;
}
.sub-container h1::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #373535;
  display: block;
  margin: 10px 0;
  position: relative;
}
.sub-container .game-rule {
  text-align: justify;
  padding: 15px 50px;
  color: #6e6868;
  margin: auto;
  background-color: #3331314f;
  border-radius: 5px;
  width: 270px;
}
.sub-container .game-rule ul {
  margin: 10px 0;
  font-size: 20px;
  font-family: "Edu VIC WA NT Beginner", cursive;
}
footer .social-links ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  list-style: none;
}
footer .social-links i {
  font-size: 1.5rem;
  color: #726c6c;
  transition: all 0.5s ease-in-out;
}
footer .social-links i:hover,
footer .social-links i:active {
  transform: scale(1.2);
}
#game-start-container .play-btn-container {
  margin: 4rem 0;
  text-align: center;
}
#game-start-container button {
  width: 100px;
  height: 100px;
  border: none;
  border-radius: 50%;
  background-color: #be8484;
  color: #fff;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 600;
  transition: background-color 0.5s ease-in-out;
}
#game-start-container button:hover,
#game-start-container button:focus {
  background-color: #5e4a4a;
}
.sub-container .scoreboard {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  background: linear-gradient(315deg, #000000 0%, #201f1f 74%);
  width: 300px;
  padding: 10px 20px;
  margin: 40px auto;
  margin-top: 4rem;
  border-radius: 20px;
  box-shadow: #282727 -5px 6px 6px 3px;
  height: 120px;
  gap: 1rem;
}
.sub-container .scoreboard .led-light {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.led-blank {
  background-color: #373535;
  box-shadow: rgba(98, 88, 88, 0.2) 0 -1px 7px 1px, inset #000 -5px -1px 3px,
    rgb(234, 234, 234) 1px 1px 2px;
}

.led-green {
  background-color: #33ff00;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #274f11 -6px -7px 5px,
    #606e4f 0 1px 3px;
  transition: background-color 0.6s ease-in-out;
}
.led-yellow {
  background-color: #ff0;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 -6px -7px 5px,
    #ff0 0 1px 3px;
  transition: background-color 0.6s ease-in-out;
}
.led-red {
  background-color: #f00;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 -6px -7px 5px,
    #f00 0 1px 3px;
  transition: background-color 0.6s ease-in-out;
}

.sub-container .display-container {
  width: 100%;
  margin: 1rem auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.sub-container .display-container::before {
  content: "";
  position: relative;
  display: block;
  width: 90%;
  height: 2px;
  background-color: #4644448c;
}
.sub-container .display-container::after {
  content: "";
  position: relative;
  display: block;
  width: 90%;
  height: 2px;
  background-color: #4644448c;
  margin: 1rem;
}
.sub-container .display-container .display-box h3 {
  color: #6d6767;
  text-align: center;
  margin-bottom: 10px;
}
.sub-container .display-container .display {
  width: 140px;
  height: 140px;
  border-radius: 7px;
  background-color: #0000008c;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #6d6767;
}

.sub-container .display .selection-display {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background: linear-gradient(180deg, #eacda3, #8b7d6b);
  display: none;
  justify-content: center;
  align-items: center;
}
.sub-container .display .selection-display img {
  width: 50px;
  height: 50px;
}

.sub-container .user-selection-container {
  width: 100%;
  display: flex;
  padding: 20px;
  justify-content: center;
  gap: 2rem;
  margin: 10px auto;
  flex-wrap: wrap;
}
.sub-container .user-selection-container h3 {
  display: block;
  width: 100%;
  color: rgb(161, 147, 147);
  text-align: center;
}
.sub-container .user-selection {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: linear-gradient(to right, #c8d6b9, #96c6ee);
  cursor: pointer;
  border: none;
}
.sub-container .user-selection:disabled {
  background: #a89bad;

  cursor: not-allowed;
}

#game-result-container .game-over {
  text-align: center;
  margin: 20px auto;
}
#game-result-container .game-over img {
  width: 300px;
}
#game-result-container .display-container .display {
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.5rem;
  padding: 10px;
}
#game-result-container .display-container .display .score-display {
  font-size: 70px;
  font-weight: 700;
}
#game-result-container .display-container .game-result {
  width: 100%;
  text-align: center;
  padding: 20px;
  font-size: 20px;
  color: #ceb49d;
  letter-spacing: 0.2rem;
}
#game-result-container .game-option {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

#game-result-container button {
  /* padding: 20px; */
  width: 200px;
  height: 40px;
  background-color: #0a66c2;
  border: 0;
  border-radius: 100px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  transition: background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0s;
}
#game-result-container button:hover,
#game-result-container button:focus {
  background-color: #16437e;
}
footer {
  text-align: center;
  width: 100%;
}
footer p,
footer a {
  color: #535050;
}
footer a {
  text-decoration: none;
  font-style: italic;
  color: #6d6363;
}

@media (max-width: 329px) {
  .sub-container h1 {
    font-size: 50px;
  }
}
